section.diamond 
    .container
        h2.heading Hidden diamonds in bangkok
        .diamond-list
            each val in [1, 2, 3, 4]
                .diamond-item
                    .diamond-image 
                        img(src='https://images.unsplash.com/photo-1682685797208-c741d58c2eff?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', alt='abc')
                        .diamond-content
                            h3.diamond-title Bangkok 
    a.button.diamond-all(href='#') Explore All