section.popular
    .container
        h2.heading Popular things to do in Bangkok
        .popular-list
            each val in [1, 2, 3, 4]
            +popularItem
            //- +popularItem
            //- +popularItem
            //- +popularItem