/* Header */
.header {
    height: 80px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav__list {
    display: flex;
    align-items: center;
    gap: 14px;
}
/* End Header */
