mixin popularItem()
    .popular-item
        .popular-image
            .popular-overlay
            img(src="https://images.unsplash.com/photo-1682685797208-c741d58c2eff?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="unsplash").popular-img
            span.popular-label Must See
        .popular-content
            span.popular-time Sep 28 10:00 AM - 1:00 PM
            h3.popular-title The Grand Palace 
            .popular-review
                img(src="./images/star.png" alt="start")
                span 4.8 (12 reviews)